$colors: (
    blue: #3b82f6,
    cyan: #06b6d4,
    lightBlue: #0ea5e9,
    green: #22c55e,
    lime: #84cc16,
    orange: #f97316,
    red: #ef4444,
    purple: #9f7aea,
    gray: #a0aec0,
    yellow: #facc15,
    indigo: #6366f1,
    pink: #ec4899,
);

@function color($color-name) {
    @return var(--#{$color-name});
}

:root {
    @each $name, $color in $colors {
        --#{$name}: #{$color};
    }
}

@each $name, $color in $colors {
    .bg-#{$name} {
        background: $color;
    }
    .bg-#{$name}-light {
        background: lighten($color, 25%);
    }
    .text-#{$name}-dark {
        color: darken($color, 10%);
    }
    .text-#{$name}-light {
        color: darken($color, 10%);
    }
    .bg-#{$name}-dark {
        background: darken($color, 10%);
    }
}
